@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&family=Orbitron&family=Playball&family=Press+Start+2P&display=swap');

@media screen and (min-width: 0px) {
  body {
    background-color: rgb(255, 198, 75);
    font-family: 'Chakra Petch', sans-serif;
    position: relative;
    min-height: 100vh;
    /* font-family: 'Orbitron', sans-serif; */
  }

  div#contentWrap {
    padding-bottom: 100px; /*height of footer*/
  }

  #mainContent {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  /*Name Header*/
  h1,
  footer {
    background-color: blue;
    color: white;
    /* border-radius: 15px; */
    padding: 0.75em 0;
    padding-left: 1em;
  }

  h1 {
    font-size: 4em;
    padding: 0.15em 0;
    padding-left: 5%;
    margin-top: 0px;
    font-family: 'Playball', cursive;
    font-weight: 100;
  }

  div#section2 {
    display: block;
    /* background-color: blue; */
  }

  /*MAIN CONTENT*/
  div#websiteProjects_label_holder {
    padding-left: 5%;
    border-bottom: 1px solid #aaa;
    margin: 0;
  }

  h2 {
    /* border-bottom: 1px solid #aaa; */
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    /* padding-left: 4em;
  margin: 0; */
  }

  img {
    /* float: right; */
    display: block;
    width: 85%;
    margin: 25px auto;
    margin-top: -25px;
    /* border: 5px solid red; */
    /* align-items: center; */
    /* margin-right: 2em; */
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px black;
    float: none;
    /* border: 5px solid red; */
  }

  /*TABLE*/
  div#table_holder {
    height: 400px;
    overflow-y: auto;
  }

  table {
    width: 85%;
    margin: 10px auto;
    background-color: white;
    text-align: center;
    font-size: 0.75em;
    height: 400px;
    /* height: 50%; */
    padding: 10px;
    /* overflow: scroll; */
    overflow-y: auto;
  }
  th {
    font-size: 1em;
    padding: 5px;
    font-weight: bold;
    /* height: 75px; */
    /* color: red; */
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr {
    height: 50px;
  }

  td > a:link,
  td > a:visited,
  td > a:hover,
  td > a:active {
    color: green;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }

  /*DropDown*/
  div#dropDown {
    text-align: center;
    line-height: 1.25em;
    width: 50%;
    margin: 25px auto;
    background-color: rgb(48, 22, 75);
    border: 5px solid rgb(106, 58, 158);
    color: white;
    border-radius: 15px;
  }

  ul.dropDown_content {
    display: none;
    /* position: absolute; */
    /* background-color: rgb(106, 58, 158); */
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin-top: -5;
    margin: 0;
    /* z-index: 0; */
  }

  .dropDown_content > li {
    margin: 5px auto 5px auto;
  }

  /* #dropDown:hover > ul.dropDown_content {
  display: grid;
} */
  .goDown > ul.dropDown_content {
    display: grid;
    height: auto;
    transition: all 2s;
    /* margin: 10px auto; */
    margin-bottom: 10px;
  }

  a.dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    /* padding-bottom: 0; */
    text-decoration: none;
  }

  li > a:link,
  li > a:visited,
  li > a:hover,
  li > a:active {
    color: white;
    list-style: none;
  }

  /*UNDER MAINTENANCE PAGE*/

  h1#underMaintenance_h1 {
    text-align: center;
    margin: 0 auto;
    padding: 1.5rem;
    font-size: 2.5rem;
    /* color: red; */
  }
  div#underMaintenance_text {
    font-size: 1.5rem;
    width: 75%;
    margin: 2rem auto;
    /* color: red; */
  }

  img#underMaintenance_img {
    float: none;
    width: 75%;
    margin: 0 auto;
    position: initial;
  }

  button#returnButton {
    display: block;
    background-color: blue;
    font-size: 1.5rem;
    margin: 30px auto;
    float: none;
    cursor: pointer;
  }

  a#returnButton_link:link,
  a#returnButton_link:visited,
  a#returnButton_link:hover,
  a#returnButton_link:active {
    color: white;
    text-decoration: none;
  }

  /*FOOTER*/

  footer {
    position: absolute;
    bottom: 0;
    display: block;
    height: 100px;
    /* position: sticky; */
    width: 100%;
    text-align: center;
    /* padding: 0.05px 0; */
    padding: 0;
  }

  p > a:link,
  p > a:visited,
  p > a:hover {
    color: white;
    text-decoration-line: none;
    border-bottom: 0.5px solid white;
    cursor: pointer;
  }

  #lastUpdated {
    color: rgb(255, 166, 0);
  }
}

@media screen and (min-width: 760px) {
  img {
    display: block;
    width: 80%;
    margin: 25px auto;
    margin-top: -25px;
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px black;
  }

  th {
    font-size: 1.75em;
  }

  td > a:link,
  td > a:visited,
  td > a:hover,
  td > a:active {
    font-size: 1.75em;
  }

  div#underMaintenance_text {
    font-size: 1.5rem;
  }

  img#underMaintenance_img {
    width: 60%;
  }

  h1#underMaintenance_h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  img {
    width: 25%;
    position: relative;
    right: 2.5%;
    float: right;
  }

  /*TABLE*/
  table {
    /* margin-top: 0; */
    /* margin-bottom: 0; */
    margin-left: 7.5%;
    width: 92.5%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  #table_holder {
    width: 70%;
    overflow-x: auto;
  }

  th {
    font-size: 2.5em;
    line-height: 0.5em;
    /* padding: 5px; */
    font-weight: bold;
    /* color: red; */
  }

  td > a:link,
  td > a:visited,
  td > a:hover,
  td > a:active {
    font-size: 1.5em;
  }

  /*DropDown*/
  div#dropDown {
    /* margin: 25px; */
    width: 15%;
    margin-left: 5.5%;
  }

  ul.dropDown_content {
    display: none;
    /* position: absolute; */
    /* background-color: rgb(106, 58, 158); */
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin-top: -5;
    margin: 0;
    /* z-index: 0; */
  }

  .dropDown_content > li {
    margin: 0;
  }

  #dropDown:hover {
    display: flex;
    width: 62.5%;
    transition: width 0.5s;
  }
  #dropDown:hover > a.dropbtn {
    width: 21%;
    text-align: center;
    transition: width 0s;
  }

  /* #dropDown:hover > ul.dropDown_content, */
  #dropDown:hover {
    display: flex;
    width: 62.5%;
    text-align: center;
    transition: width 0.5s;
    /* background-color: rgba(16, 37, 63); */
    /* color: white; */
  }

  #dropDown:hover > ul.dropDown_content {
    display: flex;
    transition-property: display;
    transition-delay: 2s;
  }

  #dropDown:hover > ul.dropDown_content {
    margin: 0 auto;
  }

  #dropDown:hover > ul > li {
    margin: 0 7.5%;
    display: flex;
    align-items: center;
    transition: margin 10s;
  }

  a.dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /*UNDER MAINTENANCE PAGE*/

  h1#underMaintenance_h1 {
    font-size: 5rem;
  }
  div#underMaintenance_text {
    font-size: 2rem;
    width: 75%;
    margin: 3rem auto;
    /* color: red; */
  }

  img#underMaintenance_img {
    width: 40%;
  }
}
